@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Raleway:wght@200;300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gugi;
    font-weight: 400;
    src: url(/Gugi-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(/Raleway-Regular.woff) format('woff');
  }
  /* @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/Poppins-Regular.woff) format('woff');
  } */
}

body {
  color: '#1B1B1B';
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.horizontal-slider {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 20px;
  margin: auto;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 10;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
